  <section>
  <h2>Create New Post</h2>
  <form class="post-submit">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-text">Question</label>
      <input id="post-text" name="post-text" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

  <script src="/javascript/add-post.js"></script>