<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label post-title">Post Title</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="What's your issue?">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label post-text">Post Content</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
  <div class="col-12">
    <button class="btn btn-primary post-submit" type="submit">Submit Post</button>
  </div>

  <script src="/javascript/add-post.js"></script>