{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body" style="width: 500px;"></textarea>
    </div>

    <div>
        <button type="submit" class="btn-dark">add comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/add-comment.js"></script>
{{/if}}